.Formulaire1{
    background-color: #2574a9;
}

.Formulaire2{
    background-color: #9a12b3;
}

.Formulaire3{
    background-color: #db0a5b;
}

.legend1{
    background-color: #2574a9;
}

.legend2{
    background-color: #9a12b3 ;
}

.legend3{
    background-color: #db0a5b;
}
    